#details-container {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 40px;
}

.detail-container {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000000;
}

.detail-sub-container {
    padding: 25px 15px 25px 15px;
    overflow: auto;
}

.detail-title {
    font-family: Roboto-Black;
    font-size: 14pt;
    color: #2B85FF;
}

.detail-close {
    width: 15px;
    float: right;
    margin-top: -23px;
}

.detail-close:hover {
    cursor: pointer;
    opacity: .8;
}

.detail-fields-container {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #C7D7F1;
    border-bottom: 1px solid #C7D7F1;
    padding-bottom: 8px;
}

.detail-buttons-container {
    margin-top: 30px;
}