@font-face {
    font-family: Roboto-Black;
    src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}

.spinner {
    margin: 100px auto;
    width: 100px;
    height: 90px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #FFFFFF;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 2px;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.section-title {
    font-family: Roboto-Black;
    color: #2B85FF;
    font-size: 20pt;
}

.section-items {
    margin-top: 40px;
    overflow-y: scroll;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #DCE6F7;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #C7D7F1;
}

::-webkit-scrollbar-thumb {
    background-color: #859FC8;
    border-radius: 50px;
    border: 2px solid #C7D7F1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9FB5D8;
}


