@font-face {
    font-family: Roboto-Black;
    src: url(../../assets/fonts/roboto/Roboto-Black.ttf);
}

.button-element {
    font-family: Roboto-Black;
    width: 100%;
    border: 0;
    border-radius: 50px;
    height: 45px;
    text-transform: uppercase;
    font-size: 12pt;
    outline: 0;
}

.button-element:focus {
    outline: 0;
}

.button-element:hover {
    opacity: .8;
}


