@font-face {
    font-family: Roboto-Bold;
    src: url(../../assets/fonts/roboto/Roboto-Bold.ttf);
}

.comments-container {
    text-align: left;
    margin-bottom: 20px;
}

.comments-title {
    font-family: Roboto-Bold;
}

.comment-container {
    border-left: 5px solid #2B85FF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family:  Roboto-Medium;
    color: #767676;
    padding: 10px 20px 10px 20px;;
    font-size: 12pt;
    margin-top: 5px;
}

.comment-username,
.comment-datetime {
    font-family: Roboto-Bold;
    color: #2B85FF;
    font-size: 9pt;
}

.comment-username {
    float: left;
}

.comment-datetime {
    float: right;
}

.comment-text {
    clear: both;
    margin-top: 20px;
}
