@font-face {
    font-family: Roboto-Bold;
    src: url(../../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../assets/fonts/roboto/Roboto-Regular.ttf);
}

.detail-element-container {
    margin-bottom: 20px;
}

.detail-element-title {
    font-family: Roboto-Bold;
}

.detail-element-value {
    font-family: Roboto-Regular;
}