@font-face {
    font-family: Roboto-Black;
    src: url(../../assets/fonts/roboto/Roboto-Black.ttf);
}

.items-header {
    height: 45px;
    background-color: #2B85FF;
    border-radius: 5px;
    font-family:  Roboto-Black;
    color: #FFFFFF;
    padding: 10px 20px 0 20px;;
    font-size: 12pt;
    margin-top: 20px;
}

.items-header-text-left {
    float: left;
    margin-left: 24px;
}

.items-header-text-right {
    float: right;
    margin-right: 98px;
}