@font-face {
    font-family: Roboto-Bold;
    src: url(../../assets/fonts/roboto/Roboto-Bold.ttf);
}

.toggle-switch-container {
    text-align: left;
    margin-bottom: 10px;
}

.toggle-switch-title {
    font-family: Roboto-Bold;
    margin-bottom: 5px;
}

.toggle-switch-element {
    width: 50px;
    height: 25px;
    border: 2px solid #B2B1B1;
    border-radius: 50px;
    cursor: pointer;
}

.toggle-switch-element-circle {
    width: 17px;
    height: 17px;
    background-color: #B2B1B1;
    border-radius: 50px;
    margin: 2px;
}

.toggle-switch-element-active {
    border: 2px solid #2B85FF;
}

.toggle-switch-element-circle-active {
    background-color: #2B85FF;
    float: right;
}