#login-container {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-image: url("../../assets/images/login-background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#login-sub-container {
    background-color: #FFFFFF;
    width: 350px;
    height: 550px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #000000;
    background-color: #2B85FF;
    text-align: center;
    padding: 40px;
}

#imagotype {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-input-container {
    margin-top: 30px;
}

#login-button-container {
    margin-top: 60px;
}

#login-transparent-element {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: .5;
}