@font-face {
    font-family: Roboto-Black;
    src: url(../../assets/fonts/roboto/Roboto-Black.ttf);
}

#not-found-container {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

#not-found-sub-container {
    width: 100%;
    text-align: center;
}

#not-found-404,
#not-found-text {
    font-family: Roboto-Black;
    color: #2B85FF;
}

#not-found-404 {
    font-size: 150pt;
    margin-top: -70px;
}

#not-found-text {
    font-size: 30pt;
    margin-top: -50px;
}
