.splash-screen-container {
    background-color: #2B85FF;
    position: absolute;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

#splash-screen-sub-container {
    height: 265px;
    text-align: center;
    margin: auto;
}

#splash-screen-imagotype {
    height: 150px;
    margin-bottom: -50px;
}